@font-face {
    font-family: apple;
    src: url(./Havana.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: white;
}
.main{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /* background-color: black; */
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium_2x.jpg);
    background-size: cover;
    background-position: center;
   
   text-align: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 60px;
    background-color: rgb(39, 38, 38);
    color: white;
}
#nav h3{
    font-weight: 200;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 30px;
    color: white;
    font-size: 60px;
}
.main h4{
    color: white;
    font-size: 30px;
    font-weight: 200;
}
button{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: rgb(62, 103, 238);
    color: white;
    font-size: 18px;
    cursor: pointer;
    
    
}
button:hover{
    background-color: black;
    color: rgb(62, 103, 238);
    
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
}
#rbutton{
    background-color: black;
    color: rgb(62, 103, 238);
    margin-left: 5px;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
}
#rbutton:hover{
    border: none;
    background-color: rgb(62, 103, 238);
    color: white;
}

/* secmain */


.secmain{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium_2x.jpg);
    background-size: cover;
    background-position: center;
   
   text-align: center;
}
.secmain h1{
     margin-top: 30px;
    color: black;
    font-size: 60px;
}
.secmain h4{
    color: black;
    font-size: 30px;
    font-weight: 200;
}
#button2 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button2 #rbutton2{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button2 #rbutton2:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}

/* thirdmain */

.thirdmain{
     margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_medium_2x.jpg);
    background-size: cover;
    background-position: center;
   
   text-align: center;
}
.thirdmain h1{
     margin-top: 30px;
    color: black;
    font-size: 60px;
}
.thirdmain h4{
    color: black;
    font-size: 30px;
    font-weight: 200;
}
#button3 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button3 #rbutton3{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button3 #rbutton3:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}


/* forthmian */

.forthmain{
    height: 100%;
    width: 100%;
    
    display: flex;
    overflow: hidden;
}

.forthonemain{
     margin: 10px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.forthonemain h1{
     margin-top: 30px;
    color: black;
    font-size: 40px;
}
.forthonemain h1 span{
    font-weight: 100;
}
.forthonemain h4{
    color: black;
    font-size: 20px;
    font-weight: 200;
}
#button4 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button4 #rbutton4{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button4 #rbutton4:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}
/* sec4 */

.forthsecmain{
     margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium_2x.jpg);
    background-size: cover;
    background-position: center;
   
   text-align: center;
}
.forthsecmain h1{
     margin-top: 30px;
    color: black;
    font-size: 40px;
}
.forthsecmain h4{
    color: black;
    font-size: 20px;
    font-weight: 200;
}
#button4 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button4 #rbutton4{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button4 #rbutton4:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}

/* fifth */

.fifthmain{
    height: 100%;
    width: 100%;
    
    display: flex;
    overflow: hidden;
}

.fifthonemain{
     margin: 10px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_medium_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.fifthonemain h1{
     margin-top: 30px;
    color: black;
    font-size: 40px;
}
.fifthonemain h4{
    color: black;
    font-size: 20px;
    font-weight: 200;
}
#button5 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button5 #rbutton5{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button5 #rbutton5:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}
/* sec4 */

.fifthsecmain{
     margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_medium_2x.jpg);
    background-size: cover;
    background-position: center;
   
   text-align: center;
}
.fifthsecmain h1{
     margin-top: 30px;
    color: black;
    font-size: 40px;
}
.fifthsecmain h1 span{
    font-family: apple;
    font-weight: 200;
    color: rgb(1, 135, 244);
}
.fifthsecmain h4{
    color: black;
    font-size: 20px;
    font-weight: 200;
}
#button5 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button5 #rbutton5{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button5 #rbutton5:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}


/* sixth */

.sixthmain{
    height: 100%;
    width: 100%;
    
    display: flex;
    overflow: hidden;
}

.sixthonemain{
     margin: 10px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_small_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.sixthonemain h1{
     margin-top: 30px;
    color: black;
    font-size: 40px;
}
.sixthonemain h4{
    color: black;
    font-size: 20px;
    font-weight: 200;
}
#button6 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button6 #rbutton6{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button6 #rbutton6:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}
/* sec4 */

.sixthsecmain{
     margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-card/promo_apple_card__5cm7draujpey_small_2x.jpg);
    background-size: cover;
    background-position: center;
   
   text-align: center;
}
.sixthsecmain h1{
     margin-top: 30px;
    color: black;
    font-size: 40px;
}
.sixthsecmain h4{
    color: black;
    font-size: 20px;
    font-weight: 200;
}
#button6 button:hover{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button6 #rbutton6{
    background-color: white;
    border: 1px solid;
    border-color: rgb(62, 103, 238) ;
    color: rgb(62, 103, 238);
}
#button6 #rbutton6:hover{
    background-color:rgb(62, 103, 238) ;

    color: white;
}
